h2 = content
a href=returnto #{linktext}
/ Raden ovan låter varje unikt fel ha en viss content som skrivs ut, en viss sökväg som man skickas tillbaka till och
/ vad texten i a-taggen skall innehålla. Detta för att kunna göra en standardiserad error-slimfil